* {
  background: green;
  color: blue;
}

QLabel {
  font-weight: bold;
  font-size: 15px;
  background: red;
}

/*
QFrame {
  margin: 0;
  border: 0;
  padding: 0;
  background: red;
}

QPushButton#exitBttn {
  background: red;
  color: yellow;
}

QPushButton {
  background: #00a;
  color: yellow;
}

QMap {
  margin: 0;
  border: 0;
  padding: 0;
}
*/
